<%- include("partials/header") %>

<%- include("partials/sidebar") %>

<%- include("partials/topbar") %>

<h2 class="mb-4">

Welcome to MUGAH LOGISTICS

</h2>

<div class="row">

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h5>Total Vehicles</h5>

<h2><%= totalCars %></h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h5>Total Bookings</h5>

<h2><%= totalBookings %></h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h5>Reviews</h5>

<h2><%= totalReviews %></h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card shadow">

<div class="card-body">

<h5>Customers</h5>

<h2><%= totalCustomers %></h2>

</div>

</div>

</div>

</div>

<%- include("partials/footer") %>